<div id="homepage-image">
	
	<!-- <img src="/assets/001.jpg" alt="slideshow_image"> -->

	<div class="homepage-login">
		asdasd
	</div>

</div>

<!-- <div class="crossfade">
  <figure></figure>
  <figure></figure>
  <figure></figure>
  <figure></figure>
</div> -->