<div id="homepage-image">
	
	<!-- <img src="/assets/001.jpg" alt="slideshow_image"> -->

	<div class="homepage-window">
		
		<h1 class="homepage-title">
			ERNSTERGERM
		</h1>

		<div class="homepage-content">
			
		</div>

		<div class="homepage-footer">
			
	        <nav class="homepage-login">
				<ul>
		              <li>
		                <%= link_to "SIGN UP", new_user_path %>
		              </li>
		          </li>
		        </ul>
		    </nav>

		</div>


	</div>

</div>

<!-- <div class="crossfade">
  <figure></figure>
  <figure></figure>
  <figure></figure>
  <figure></figure>
</div> -->