<div> 
  
<% @posts.each do |post| %>


	 <div class="homepagePost">

		<h2 class="homepagePostTitle">
			<%= post.title %>
		</h2>

		<div class="homepagePostContent">
			<%= post.content %>
		</div>

	</div>
